[package]
id=/gmd:MD_Metadata/gmd:fileIdentifier
language=IGNORE   
author=DEPARTMENT
department_number=IGNORE	
author_email=IGNORE
title=/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:title   AND / OR /gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:alternateTitle
name=/gmd:MD_Metadata/gmd:fileIdentifier
notes=/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:abstract   AND / OR  /gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification
digital_object_identifier=IGNORE
catalog_type=LOOKUP
topic_category=/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:topicCategory
subject=IGNORE
tags=MULTI /gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:descriptiveKeywords
license_id=IGNORE
data_series_name=/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:series/gmd:CI_Series
data_series_issue_identification=/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:series/gmd:CI_Series/gmd:issueIdentification
maintenance_and_update_frequency=LOOKUP
temporal_element=1962/1962/gmd:MD_Metadata/gmd:dataQualityInfo/gmd:DQ_DataQuality/gmd:lineage/gmd:LI_Lineage/gmd:source/gmd:LI_Source/gmd:sourceExtent/gmd:EX_Extent/gmd:temporalElement
geographic_region=IGNORE
url=HTML Description 
endpoint_url=http://geogratis.gc.ca/api/fr/nrcan-rncan/ess-sst/
date_published=/gmd:MD_Metadata/gmd:identificationInfo/gmd:MD_DataIdentification/gmd:citation/gmd:CI_Citation/gmd:date/gmd:CI_Date/gmd:date
spatial_representation_type=  spatial represnentation type number
presentation_form=
spatial=region covered - write code polygon  
browse_graphic_url=browseImages

[package_fr]
title_fra=
notes_fra=
data_series_name_fra=
data_series_issue_identification_fra=
documentation_url_fra=
related_document_url_fra=
url_fra=
endpoint_url_fra=

[resource]
url=/gmd:MD_Metadata/gmd:distributionInfo/gmd:MD_Distribution/gmd:transferOptions/gmd:MD_DigitalTransferOptions/gmd:onLine/gmd:CI_OnlineResource/gmd:linkage
size=
format=
language=
last_modified=

