[package]
id=id
language=   
author=author
department_number=	
author_email=
title=title
name=id
notes=summary
digital_object_identifier=
catalog_type=SELECT
subject=$.categories[?(@.type=='urn:gc:subject')].terms..label
topic_category=topicCategories
tags=
license_id=
data_series_name=
data_series_issue_identification=
maintenance_and_update_frequency=
temporal_element=
geographic_region=
documentation_url=
related_document_url=
url=
endpoint_url=
date_published=
spatial_representation_type=
presentation_form=
spatial=
browse_graphic_url=

[package_fr]
title_fra=
notes_fra=
data_series_name_fra=
data_series_issue_identification_fra=
documentation_url_fra=
related_document_url_fra=
url_fra=
endpoint_url_fra=

[resource]
url=
name=
size=
format=
language=
last_modified=

[resource_fr]
name_fra=
