[package]
id=id
language=   
author=author
department_number=	
author_email=
title=title
name=id
notes=summary
digital_object_identifier=
catalog_type=LOOKUP
subject=$.categories[?(@.type=='urn:gc:subject')].terms..label
topic_category=topicCategories
tags=keywords
license_id=
data_series_name=$.citation.series.
data_series_issue_identification=$.citation.seriesIssue
maintenance_and_update_frequency=LOOKUP
temporal_element=
geographic_region=
url=$.links[?(@.enctype=='text/html')].href
endpoint_url=
date_published=createdDate
spatial_representation_type=LOOKUP
presentation_form=
spatial=
browse_graphic_url=browseImages

[package_fr]
title_fra=
notes_fra=
data_series_name_fra=
data_series_issue_identification_fra=
documentation_url_fra=
related_document_url_fra=
url_fra=
endpoint_url_fra=

[resource]
url=
name=
size=
format=
language=
last_modified=

[resource_fr]
name_fra=
