[thesaurus_en]
AA=Arts, Music, Literature
AG=Agriculture
EC=Economics and Industry
ET=Education and Training
FM=Form descriptors
GV=Government and Politics
HE=Health and Safety
HI=History and Archaeology
IN=Information and Communications
LB=Labour
LN=Language and Linguistics
LW=Law
MI=Military
NE=Nature and Environment
PE=Persons
PR=Processes
SO=Society and Culture
ST=Science and Technology
TR=Transport

[thesaurus_fr]
AA=Arts, musique, littérature 
AG=Agriculture 
EC=Économie et industrie 
ET=Éducation et formation 
GV=Gouvernement et vie politique 
HE=Santé et sécurité 
HI=Histoire et archéologie 
IN=Information et communication 
LB=Travail et emploi 
LN=Langue et linguistique 
LW=Droit 
MI=Histoire et science militaire 
NE=Nature et environnement 
PE=Personnes 
PR=Liens et fonctions 
SO=Société et culture 
ST=Sciences et technologie 
TR=Transport