# SQLite Databases
*.db

#*.py[cod]
*.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.DS_Store

*.xml

.codeintel/config

src/batch/data/tables_20120815.xml.zip

src/batch/mappings.pyc

src/batch/ckan_api_client.pyc

*.pyc

record

record

*.jl

src/batch/data/pilot-pass1.jl
